<mat-card>
    <form [formGroup]="loginForm">
    <mat-card-content>
            <div class="toolbar-container">
                <div class="toolbar-content">
                    <mat-form-field>
                        <input matInput placeholder="Name" formControlName="name" i18n-placeholder="Name|Subscribe Name@@subscribeName" autocomplete="name"
                        />
                    </mat-form-field>
                    <mat-form-field class="full-width">
                        <input type="password" matInput placeholder="Password" formControlName="password" i18n-placeholder="Password|Subscribe Password@@subscribePassword"
                        />
                    </mat-form-field>
                    <button type="button" mat-button (click)="logon()">Login</button>
                </div>
            </div>
        </mat-card-content>
    </form>
</mat-card>